*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
section{
  outline: 1px solid red;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #283645;
  font-style: normal;
}
.visually-hidden {
  display: none;
}
