.advantages{
  margin: 0;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: left 50% top;
  background-size: 100%, 32px;
}
@media #{$tablet-widths} {
  .advantages{
    background-size: 100%, 56px;
  }
}
@media #{$desktop-widths} {
  .advantages{
    background-size: 100%, 94px;
  }
}
.advantages__wrapper{
  margin: 0;
  @include container-fluid;
  position: relative;
  padding-top: 90px;
  padding-bottom: 320px;
}
@media #{$tablet-widths} {
  .advantages__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 481px;
    padding-top: 75px;
    padding-bottom: 45px;
    padding-left: 310px;
  }
}
@media #{$desktop-widths} {
  .advantages__wrapper{
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    min-height: 568px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}
.advantages__picture{
  display: none;
}
@media #{$desktop-widths} {
  .advantages__picture{
    display: block;
    width: 292px;
    height: 302px;
    margin-bottom: 55px;
  }
}
.advantages__item{
  text-align: center;
  margin-bottom: 30px;
  &:last-of-type{
    margin-bottom: 0;
      picture{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 157px;
        height: 277px;
      }
  }
}
@media #{$tablet-widths} {
  .advantages__item{
    text-align: left;
    margin-bottom: 0;
    &:last-of-type{
      picture{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: none;
        width: 268px;
        height: 481px;
      }
    }
  }
}
@media #{$desktop-widths} {
  .advantages__item{
    text-align: center;
    &:last-of-type{
      picture{
        display: block;
        position: static;
        transform: none;
        width: 292px;
        height: 302px;
      }
    }
  }
  .advantages__item{
    float: left;
    width: 300px;
    padding-left: 4px;
    padding-right: 4px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}
.advantages__title{
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
}
@media #{$desktop-widths} {
  .advantages__title{
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.advantages__text{
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
@media #{$desktop-widths} {
  .advantages__text{
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
