@media #{$mobile-widths-only} {
  .control{
    height: 120px;
    border: none;
  }
  .control__btn{
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .control__slider{
    display: none;
    width: 240px;
    left: 20px;
    top: 82px;
  }
  .control_crop .control__slider{
    display: block;
  }
  .control__btn svg{
    fill: #b5b9be;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      fill: #8d949b;
    }
  }
  .control_active svg{
    fill: #d22856;
    &:hover{
      fill: #d22856;
    }
  }
}

.control{
    position: relative;
    height: 70px;
    border-bottom: 1px solid #dddfe0;
}
.control__btn{
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
}
.control__svg{
  fill: #d22856;
  &_crop{
    width: 44px;
    height: 44px;
  }
  &_fill{
    height: 43px;
    width: 48px;
  }
  &_contrast{
    width: 32px;
    height: 32px;
  }
}
.control__slider{
  position: absolute;
  top: 50%;
  left: 55px;
  width: 202px;
  height: 2px;
  background-color: #283645;
}
.control__toggle{
  position: absolute;
  height: 14px;
  width: 14px;
  border: 2px solid #cd2856;
  border-radius: 50%;
  top: -6px;
  transform: translate(-50%);
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: #cd2856;
  }
}
@media #{$desktop-widths} {
  .control__slider{
    width: 288px;
    left: 92px;
  }
}

.control_crop .control__toggle{
  left: 30%;
}
.control_fill .control__toggle{
  left: 80%;
}
.control_contrast .control__toggle{
  left: 60%;
}
