.form{
  padding-top: 20px;
}
@media #{$tablet-widths} {
  .form{
    @include container;
  }
}
.form__fieldset{
  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  &_name{
  }
  &_os{
    background: #f2f2f2;
  }
  &_contacts{

  }
  &_achievements{
    background: #f2f2f2;
  }
  &_textarea{

  }
}
@media #{$tablet-widths} {
  .form__fieldset{
    padding-top: 35px;
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 65px;
    &_name{
      border: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    &_os{
      background: none;
    }
    &_contacts{

    }
    &_achievements{
      background: none;
    }
    &_textarea{

    }
    &_border{
      position: relative;
      border: 2px solid #e7e7e7;
      border-radius: 3px;
    }
  }
}
@media #{$desktop-widths} {
  .form__fieldset{
    padding-top: 35px;
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    &_name{
      float: left;
      width: 436px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    &_os{
      background: none;
      float: right;
      width: 436px;
      padding-top: 50px;
      padding-bottom: 51px;
    }
    &_contacts{
      @include clearfix;
      clear: both;
    }
    &_achievements{
      @include clearfix;
      background: none;
    }
    &_textarea{

    }
  }
}
.form__title{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  &_textarea{
    margin-bottom: 20px;
  }
}

@media #{$tablet-widths} {
  .form__title{
    position: absolute;
    display: inline-block;
    width: auto;
    top: -10px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
  }
}

.form__item{
  &_name{
    margin-bottom: 25px;
  }
  &_os{
    margin-bottom: 36px;
  }
  &_contacts{
    margin-bottom: 25px;
  }
  &_achievements{
    margin-bottom: 42px;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
}
@media #{$tablet-widths} {
  .form__item{
    &_name{
      margin-bottom: 54px;
    }
    &_os{
      margin-bottom: 36px;
    }
    &_contacts{
      margin-bottom: 36px;
    }
    &_achievements{
      margin-bottom: 44px;
    }
  }
}
@media #{$desktop-widths}{
  .form__item{
    &_name{
      margin-bottom: 54px;
    }
    &_os{
      margin-bottom: 36px;
    }
    &_contacts{
      margin-bottom: 0;
      float: left;
      margin-right: 66px;
      width: 375px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    &_achievements{
      float: left;
      margin-bottom: 44px;
      width: 260px;
      margin-right: 18px;
      &:nth-child(3n-2){
        margin-right: 0;
      }
      &:nth-last-child(-n+3){
        margin-bottom: 0;
      }
    }
  }
}
.form__textarea{
  width: 100%;
  resize: vertical;
}
.form__footer{
  @include clearfix;
  margin-left: 6.25%;
  margin-right: 6.25%;
}
.form__btn{
  margin-bottom: 35px;
}
.form__note{
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.form__star{
  color: #d22856;
}
@media #{$tablet-widths} {
  .form__footer{
    @include container;
  }
  .form__btn{
    margin-bottom: 0;
    float: left;
    width: 300px;
  }
  .form__note{
    float: right;
    text-align: left;
    line-height: 63px;
  }
}
