@keyframes navAnimation {
  from{
    transform: scaleY(0);
    transform-origin: top;
  }
  to{
    transform-origin: top;
    transform: scaleY(1);
  }
}
.main-nav {
  position: absolute;
  top: 70px;
  z-index: 1;
  width: 100%;
  left: 0;
  right: 0;
  animation-name: navAnimation;
  animation-duration: 0.3s;
  &_open {
    display: block;
  }
  &_closed {
    display: none;
  }
}
@media #{$tablet-widths} {
  .main-nav{
    top: 110px;
  }
}
@media #{$desktop-widths} {
  .main-nav {
    position: static;
    top: 0;
    z-index: 0;
    width: auto;
    &_open {
      display: block;
    }
    &_closed {
      display: block;
    }
  }
  .main-nav {
    width: 630px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  min-height: 256px;
}
@media #{$desktop-widths} {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-height: auto;
    text-align: right;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
.main-nav__link {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 64px;
  font-size: 18px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  background-color: #283645;
  border-top: 1px solid #495562;
  border-bottom: 1px solid #000;
  &:hover{
    color: #d22856;
  }
  &:active{
    color: #5f3650;
  }
}
@media #{$desktop-widths} {
  .main-nav__link {
    display: block;
    height: 26px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background: none;
    border: none;
    &:hover{
      color: #fff;
      border-bottom: 2px solid #fff;
    }
    &:active{
      color: #6a757f;
      border-bottom: none;
    }
    &_active{
      &:hover{
        color: #d22856;
        border-bottom: 2px solid #d22856;
      }
      &:active{
        color: #6a757f;
        border-bottom: none;
      }
    }
  }
}
