.page-footer{
  &_index{
    display: none;
  }
}
.page-footer__wrapper{
  @include container-fluid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 244px;
}
.page-footer__item{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  &_logo{
    height: 40px;
    width: 147px;
  }
  &_social{
    height: 52px;
    width: 178px;
  }
  &_copyright{
    height: 34px;
    width: 130px;
  }
}
@media #{$tablet-widths} {
  .page-footer{
    display: block;
  }
  .page-footer__wrapper{
    flex-direction: row;
    justify-content: space-between;
    height: 127px;
    padding-top: 0;
  }
  .page-footer__item{
    display: block;
    width: 150px;
    margin: 0;
    &_logo{
      height: 40px;
      margin-top: 36px;
    }
    &_social{
      height: 52px;
      width: 178px;
      margin-top: 40px;
    }
    &_copyright{
      height: 34px;
      margin-top: 50px;
    }
  }
}
@media #{$desktop-widths} {
  .page-footer{
    display: block;
  }
  .page-footer__wrapper{
    height: 197px;
    justify-content: space-between;
  }
  .page-footer__item{
    display: block;
    width: 150px;
    &_logo{
      height: 40px;
      margin-top: 70px;
    }
    &_social{
      height: 52px;
      width: 178px;
      margin-top: 74px;
    }
    &_copyright{
      height: 34px;
      margin-top: 85px;
    }
  }
}
