.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 70px;
  background-color: transparentize(#283645, 0.3);
  /*opacity when closed*/
  &_active{
    border-bottom: 1px solid #000;
  }
}
@media #{$tablet-widths} {
  .page-header {
    min-height: 110px;
  }
}
@media #{$desktop-widths} {
  .page-header{
    position: absolute;
    min-height: 110px;
  }
}
.page-header__wrapper {
  position: relative;
  @include clearfix;
  @include container;
}
.page-header__logo {
  float: left;
  width: 76px;
  height: 24px;
  margin-top: 22px;
}
@media #{$tablet-widths} {
  .page-header__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
  }
}
@media #{$desktop-widths} {
  .page-header__logo {
    width: 174px;
    height: 40px;
    margin-top: 27px;
  }
}
.page-header__btn-burger {
  position: relative;
  float: right;
  width: 50px;
  height: 24px;
  margin-top: 22px;
  cursor: pointer;
  transition: 0.3s;
  &::before{
    content: '';
    position: absolute;
    height: 4px;
    top: 0;
    width: 50px;
    background-color: #fff;
    box-shadow: 0 10px 0 0 #fff;
    transform-origin: center;
  }
  &::after{
      content: '';
      position: absolute;
      height: 4px;
      bottom: 0;
      width: 50px;
      background-color: #fff;
      transform-origin: center;
  }
  &:hover{
    &:before{
      background-color: #d22856;
      box-shadow: 0 10px 0 0 #d22856;
    }
    &:after{
      background-color: #d22856;
    }
  }
  &_active{
      &::before{
        width: 35px;
        top: 12px;
        transform: rotate(-45deg);
        box-shadow: none;
      }
      &::after{
        width: 35px;
        top: 12px;
        transform: rotate(45deg);
      }
      &:hover{
        &:before{
          background-color: #d22856;
          box-shadow: none;
        }
        &:after{
          background-color: #d22856;
        }
      }
  }
}
@media #{$tablet-widths}{
  .page-header__btn-burger{
    margin-top: 44px;
  }
}
@media #{$desktop-widths} {
  .page-header__btn-burger{
    display: none;
  }
}
