
.photo{
  &_top{

  }
}
@media #{$tablet-widths} {
  .photo{
  }
}
@media #{$desktop-widths} {
  .photo{
  }
}
.photo__hot{
  @include container;
  position: relative;
  &:before{
    position: absolute;
    content: 'Панорама дня';
    width: 140px;
    height: 36px;
    top: 0;
    right: 0;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #d22856;
  }
}
@media #{$tablet-widths} {
  .photo__hot{
    top: 58px;
  }
}

.photo__image{
  display: block;
  height: 180px;
  &_top{
    width: 100%;
    height: auto;
  }
}
@media #{$tablet-widths} {
  .photo__image{
    height: 300px;
    &_top{
      height: auto;
    }
  }
}
@media #{$desktop-widths} {
  .photo__image{
    height: 400px;
    &_top{
      height: auto;
    }
  }
}
.photo__link_top{
}
.photo__content{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 24px;
  background-color: #f2f2f2;
  &_top{
    @include container;
  }
}
@media #{$tablet-widths} {
  .photo__content{
    position: relative;
    height: 155px;
    padding-top: 25px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 25px;
    color: #283645;
    &_top{
      height: auto;
    }
  }
}
@media #{$desktop-widths} {
  .photo__content{

  }
}
.photo__name{
  font-weight: 700;
  font-style: normal;
}
.photo__time{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.photo__comment{
  margin-bottom: 6px;
}
@media #{$tablet-widths} {
  .photo__footer{
    position: absolute;
    bottom: 25px;
    left: 28px;
    right: 28px;
    color: #d22856;
  }
  .photo__content_top .photo__footer{
    left: auto;
    padding-right: 30px;
    bottom: auto;
    top: 25px;
  }
}
.photo__heart svg{
  fill: #d22856;
}
.photo__heart{
  display: inline-block;
  margin-right: 18px;
  &:hover{
    svg{
      fill: #000;
    }
  }
  &:active{
    svg{
      fill: #bec2c7;
    }
  }
}
@media #{$tablet-widths} {
  .photo__heart{
    margin-right: 0;
    position: absolute;
    right: 0;
  }
}
.photo__likes{
  font-size: 12px;
  text-transform: uppercase;
}
