
.photo{
  &_top{

  }
}
@media #{$tablet-widths} {
  .photo{
  }
}
@media #{$desktop-widths} {
  .photo{
  }
}
.photo__hot{
  @include container-fluid;
  position: relative;
  &:before{
    position: absolute;
    content: 'Панорама дня';
    width: 140px;
    height: 36px;
    top: 0;
    right: 0;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #d22856;
  }
}
@media #{$tablet-widths} {
  .photo__hot{
    top: 58px;
  }
}

.photo__image{
  display: block;
  width: 100%;
  height: auto;
}
@media #{$tablet-widths} {
  .photo__image{
    height: auto;
  }
}
@media #{$desktop-widths} {
  .photo__image{
    height: auto;
  }
}
.photo__link_top{
}
.photo__content{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  line-height: 24px;
  background-color: #f2f2f2;
  &_top{
    @include container-fluid;
  }
}
@media #{$tablet-widths} {
  .photo__content{
    position: relative;
    min-height: 155px;
    padding-top: 25px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 25px;
    color: #283645;
    &_top{
      min-height: auto;
    }
  }
}
.photo__name{
  font-weight: 700;
  font-style: normal;
}
.photo__time{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}
.photo__comment{
  margin-bottom: 6px;
}
.photo__footer{
  display: flex;
  color: #d22856;
  margin-top: auto;
}

@media #{$tablet-widths} {
  .photo__content_top{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    .photo__header{
      flex-grow: 1;
    }
    .photo__comment{
      width: 100%;
      order: 1;
    }
    .photo__footer{
      margin-top: 0;
    }
  }
}

.photo__heart svg{
  fill: #d22856;
}
.photo__heart{
  display: inline-block;
  margin-right: 18px;
  &:hover{
    svg{
      fill: #000;
    }
  }
  &:active{
    svg{
      fill: #bec2c7;
    }
  }
}
@media #{$tablet-widths} {
  .photo__footer{
    justify-content: space-between;
  }
  .photo__heart{
    order: 1;
    margin-right: 0;
  }
  .photo__content_top .photo__heart{
    margin-left: 18px;
  }
}
.photo__likes{
  font-size: 12px;
  text-transform: uppercase;
}
