.photos{
}

.photos__list{
  @include container-fluid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photos__item{
  margin-bottom: 20px;
  width: 100%;
  &_top{
    width: 100%;
  }
}
@media #{$tablet-widths} {
  .photos__list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .photos__item{
    float: left;
    width: 48%;
    &_top{
      width: 100%;
      margin-bottom: 50px;
    }
    &:nth-last-child(-n+3):not(.photos__item_top){
      margin-bottom: 0;
    }
  }
}
@media #{$desktop-widths} {
  .photos__item{
    margin-bottom: 54px;
    width: 32%;
    &_top{
      width: 100%;
    }
  }
}
