.photos{
  @include clearfix;
}

.photos__list{
  @include container;
}
.photos__item{
  margin-bottom: 20px;
  &_top{
    width: 100%;
  }
}
@media #{$tablet-widths} {
  .photos__item{
    float: left;
    width: 300px;
    margin-right: 20px;
    &_top{
      width: 100%;
      margin-bottom: 50px;
    }
    &:nth-child(2n){
      margin-right: 0;
    }
    &:nth-last-child(-n+3):not(.photos__item_top){
      margin-bottom: 0;
    }
  }
}
@media #{$desktop-widths} {
  .photos__item{
    margin-right: 20px;
    margin-bottom: 54px;
    &:nth-child(2n){
      margin-right: 20px;
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}
