.research{
  display: none;
}
@media #{$tablet-widths} {
  .research{
    display: block;
  }
  .research__wrapper{
    @include container;
    min-height: 380px;
    padding-top: 100px;
    padding-left: 310px;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-size: 240px, 280px;
    background-position: top 57px left;
  }
  .research__title{
    font-size: 30px;
    line-height: 36px;
    width: 310px;
    padding-right: 148px;
    margin-bottom: 10px;
  }
  .research__text{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .research__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media #{$desktop-widths} {
  .research{
    display: block;
    background-color: #f2f2f2;
  }
  .research__wrapper{
    @include container;
    min-height: 472px;
    padding-top: 155px;
    padding-left: 370px;
    background-size: 300px, 350px;
  }
  .research__title{
    font-size: 30px;
    line-height: 36px;
    width: auto;
    margin-bottom: 20px;
  }
  .research__text{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .research__link{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
