.reviews{
}
.reviews__input{
  display: none;
}
.reviews__wrapper{
  position: relative;
  @include container-fluid;
  padding-top: 45px;
  padding-bottom: 80px;
}
@media #{$tablet-widths} {
  .reviews__wrapper{
    padding-top: 55px;
    padding-bottom: 70px;
  }
}
@media #{$desktop-widths} {
  .reviews__wrapper{
    padding-top: 190px;
    padding-bottom: 80px;
  }
  .reviews__wrapper::before{
    position: absolute;
    display: block;
    content: '';
    width: 79px;
    height: 64px;
    top: 72px;
    left: 50%;
    color: #efefef;
    transform: translate(-50%);
    background-image: url('../img/quotes.svg');
  }
}
.reviews__item{
  display: none;
}
.reviews__toggles{
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  width: 62px;
  height: 12px;
}
@media #{$tablet-widths} {
  .reviews__toggles{
    bottom: 12px;
  }
}
.reviews__toggle{
  display: block;
  height: 12px;
  width: 12px;
  background-color: #bec2c7;
  background-clip: content-box;
  background-origin: content-box;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: #7e868f;
  }
  &:active{
    background-color: #e9ebec;
  }
}

@for $i from 1 through 3{
  #reviews-toggle-#{$i}:checked ~ .reviews__toggles [for="reviews-toggle-#{$i}"]{
    border: 3px solid #283645;
    background-color: transparent;
  }
  #reviews-toggle-#{$i}:checked ~ .reviews__item_#{$i}{
    display: block;
  }
}
.reviews__arrows{
  display: none;
}
@media #{$desktop-widths} {
  .reviews__arrows{
    display: block;
  }
  .reviews__arrow{
    position: absolute;
    display: block;
    height: 28px;
    width: 28px;
    top: 50%;
    border-top: 2px solid #bec2c7;
    border-left: 2px solid #bec2c7;
    cursor: pointer;
    &:hover{
      border-color: #7e868f;
    }
    &:active{
      border-color: #e9ebec;
    }
    &_left{
      left: 5px;
      transform: rotate(-45deg);
    }
    &_right{
      right: 5px;
      transform: rotate(135deg);
    }
  }
}
