
.tariffs{
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: left 50% top;
  background-size: 100%, 32px;
  overflow: hidden;
}
@media #{$tablet-widths} {
  .tariffs{
    background-size: 100%, 56px;
  }
}
@media #{$desktop-widths} {
  .tariffs{
    background-size: 100%, 94px;
  }
}
.tariffs__wrapper{
  @include container-fluid;
  position: relative;
  min-height: 470px;
  padding-top: 90px;
  padding-bottom: 70px;
}
@media #{$tablet-widths} {
  .tariffs__wrapper{
    min-height: 380px;
    padding-bottom: 60px;
  }
}
@media #{$desktop-widths} {
  .tariffs__wrapper{
    padding-top: 150px;
    min-height: 525px;
  }
}
.tariffs__table{
  position: relative;
  width: 300%;
  transition: 0.3s;
}
@media #{$tablet-widths} {
  .tariffs__table{
    position: static;
    width: 100%;
  }
}
@media #{$desktop-widths} {
  .tariffs__table{
    position: static;
    width: 100%;
  }
}

@media #{$mobile-widths-only} {
  .tariffs__option{
    display: none;
  }
}
@media #{$tablet-widths} {
  .tariffs__option{
    width: 25%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    background-color: #fff;
  }
}
@media #{$desktop-widths} {
  .tariffs__option{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }
}
.tariffs__th{
  position: relative;
  height: 98px;
  background-color: #283645;
  color: #fff;
  overflow: hidden;
}
.tariffs__title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
}
.tariffs__price{
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}
@media #{$tablet-widths} {
  .tariffs__th{
    height: 80px;
    width: 25%;
  }
  .tariffs__title{
    font-size: 16px;
  }
  .tariffs__price{
    font-size: 18px;
  }
}
@media #{$desktop-widths} {
  .tariffs__th{
    height: 100px;
  }
  .tariffs__title{
    font-size: 18px;
  }
  .tariffs__price{
    font-size: 24px;
  }
}
.tariffs__th_empty{
  display: none;
}
@media #{$tablet-widths} {
  .tariffs__th_empty{
    display: table-cell;
    background: none;
  }
}
@media #{$desktop-widths} {
  .tariffs__th_empty{
    display: table-cell;
    background: none;
  }
}
.tariffs__hit{
  position: absolute;
  display: block;
  height: 30px;
  width: 110px;
  top: 52px;
  left: -25px;
  transform-origin: top left;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  background-color: #d22856;
}
@media #{$tablet-widths} {
  .tariffs__hit{
    top: 46px;
    left: -32px;
  }
}
@media #{$desktop-widths} {
  .tariffs__hit{
    top: 52px;
    left: -25px;
  }
}
.tariffs__cell{
  @include clearfix;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-top: none;
}
@media #{$tablet-widths} {
  .tariffs__cell{
    height: 46px;
    width: 25%;
    text-align: center;
  }
}
@media #{$desktop-widths} {
  .tariffs__cell{
    height: 60px;
    /*width: 235px;*/
  }
}
.tariffs__icon{
  display: inline-block;
  background-repeat: no-repeat;
  &_true{
    width: 31px;
    height: 21px;
    background-image: url("../img/yes.svg");
  }
  &_false{
    width: 27px;
    height: 27px;
    background-image: url("../img/no.svg");
  }
}
@media #{$mobile-widths-only} {
  .tariffs__cell::before{
    content: attr(data-option);
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .tariffs__icon{
    float: right;
  }
}


.tariffs__input{
  display: none;
}
.tariffs__toggles{
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 62px;
  height: 12px;
}
@media #{$tablet-widths} {
  .tariffs__toggles{
    display: none;
  }
}
@media #{$desktop-widths} {
  .tariffs__toggles{
    display: none;
  }
}
.tariffs__toggle{
  display: block;
  height: 12px;
  width: 12px;
  background-color: #bec2c7;
  background-clip: content-box;
  background-origin: content-box;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: #7e868f;
  }
  &:active{
    background-color: #e9ebec;
  }
}
@media #{$mobile-widths-only} {
  #tariffs-toggle-1:checked ~ .tariffs__table{
    left: 0;
  }
  #tariffs-toggle-2:checked ~ .tariffs__table{
    left: -100%;
  }
  #tariffs-toggle-3:checked ~ .tariffs__table{
    left: -200%;
  }
}
@for $i from 1 through 3{
  #tariffs-toggle-#{$i}:checked ~ .tariffs__toggles [for="tariffs-toggle-#{$i}"]{
    border: 3px solid #283645;
    background-color: transparent;
  }
}
