.welcome{
  margin: 0;
  min-height: 215px;
  padding-top: 35px;
}
@media #{$tablet-widths} {
  .welcome{
    min-height: 245px;
    padding-top: 48px;
  }
}
@media #{$desktop-widths} {
  .welcome{
    min-height: 322px;
    padding-top: 64px;
  }
}
.welcome__title{
  margin: 0;
  @include container;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: 300;
  color: #364351;
}
@media #{$tablet-widths} {
  .welcome__title{
    font-size: 40px;
    line-height: 48px;
  }
}
@media #{$desktop-widths} {
  .welcome__title{
    font-size: 50px;
    line-height: 60px;
  }
}
.welcome__part{
  display: block;
  margin-bottom: 30px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
@media #{$tablet-widths} {
  .welcome__part{
    margin-bottom: 0px;
    &_short{
      padding-left: 140px;
      padding-right: 140px;
    }
  }
}
@media #{$desktop-widths} {
  .welcome__part{
    margin-bottom: 0px;
    &_stort{
      padding-left: 260px;
      padding-right: 260px;
    }
  }
}
